body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5EBEB;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #D5B4B4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

h2 {
    text-align: center;
    color: #867070;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #867070;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px 10%;
    border: 1px solid #D5B4B4;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #867070;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #D5B4B4;
}

p {
    text-align: center;
    margin-top: 10px;
    color:#867070
}

p a {
    color:#D5B4B4;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
