/* This css includes style for header, footer and container*/

* {
    box-sizing: border-box;  
}

body, html{
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5EBEB;
    flex-direction: column;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.container {
    padding-bottom: 76px;
}

/* header */

header {
    overflow: hidden;
    background-color: #867070;
    padding-left: 8%;
    padding-right: 8%;
    max-width: 100%;
}

header a{
    float: left;
    color: #F5EBEB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 75px;
    display: block;
}
  
header a:hover, header a.right:hover{
    color: #D5B4B4;
}

header a.active {
    color: #D5B4B4;
}
  
header a.right {
    float: right;
    color: #F5EBEB;
}

/* logo */
header a.logo {
    font-size: 40px;
    font-weight: 700;
}

/* dropdown */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropdown-button {
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color: #F5EBEB;
    padding: 14px 16px;
    margin: 0;
    background-color: #867070;
    line-height: 75px;
    text-align: left;
    padding-left: 0;
    margin-left: 14px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background: #D5B4B4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    line-height: 20px;
    text-align: left;
}
  
.dropdown-content a {
    float: none;
    color: #867070;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 20px;
}

.dropdown-button:hover{
    color: #D5B4B4;
}
  
.show {
    display: block;
}

header a.icon {
    float: right;
    display: none;
}

header img {
    width: 60px;
    /* height: 60px; */
    float: left;
    display: block;
    line-height: 75px;
    text-align: center;
    margin-top: 10%;
}

header img:hover {
    transform: scale(1.05);
}

/* footer */
footer {
    background-color: #867070;
    flex-shrink: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 38px;
    color: #F5EBEB; 
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
    } 
}

@media screen and (max-width: 600px) {
    header a, header .search-bar, header .dropdown {
        display: none;
    }

    header a.logo {
        display: block;
    }
    
    header a.icon {
        display: block;
    }

    header.responsive a, header.responsive .search-bar, header.responsive .dropdown{
        display: block;
        float: none;
        text-align: left;
        margin-left: 0;
    }
    
    header.responsive .dropdown-content {
        position: relative;
    }

    header a{
        line-height: 30px;
    }
    header .dropdown .dropdown-button {
        line-height: 2px;
        margin-left: 0;
    }

    header a, header .search-bar, header .dropdown {
        display: none;
    }

    header.responsive a:not(.right), header.responsive .dropdown, header img, .dropdown, .dropdown-button{
        display: block;
        float: none;
        text-align: left;
        padding: 10px 12px;
        margin-left: 0;
        margin-top: 0;
    }
    
    header.responsive .dropdown-content {
        position: relative; /* Making it fit into the mobile menu */
    }

    header.responsive header image {
        position: relative;
        margin-top: 0;
    }
}

/* Adjusting input field width and button in mobile view for better fit */
@media screen and (max-width: 400px) {
    header input[type=text] {
        width: 70%; /* Adjust this value as needed */
    }

    header .search-bar button {
        width: 25%; /* Adjust this value as needed */
    }
}
