/* ----common---- */
/* where common style goes */
body {
    margin: 0;
}


#secondary-nav-bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
}

#secondary-nav-bar nav ul {
    list-style: none;
    margin: 1vh;
    padding: 0;
    display: flex;
}

#secondary-nav-bar nav ul li {
    margin-left: 20px;
}

#secondary-nav-bar nav ul li a {
    text-decoration: none;
    color: #F5EBEB;
    font-size: 22px;
}

#logo {
    width: 201px;
    color: #F5EBEB;
    font-family: 'Kumar One', Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 400;
    padding-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    grid-area: logo;
    text-wrap: nowrap;
}


#main-grid-container {
    display: grid;
    grid-template-areas:
        'logo search login-signup'
        'secondary-nav secondary-nav secondary-nav'
        'content content content';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    align-items: center;
    background-color: #867070;
}

#login-signup {
    grid-area: login-signup;
}

#login-signup ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding-inline-start: 0px;
}

#login-signup ul li {
    margin-right: 20px;
}

#login-signup ul li a {
    text-decoration: none;
    color: #F5EBEB;
    font-size: 26px;
}


#search-container {
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 40vw;
    margin: auto;
}

#filter-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(213, 180, 180);
    padding: 2vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 36vw;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    /* Hide the filters by default */
}



#filter-container>div {
    margin-bottom: 10px;
}

#search-field {
    padding: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 4px solid rgb(213, 180, 180);
    border-radius: 10px;
    background-color: rgb(213, 180, 180);
}

#search-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#secondary-nav-bar {
    grid-area: secondary-nav;
}

.content {
    grid-area: content;
}

#search-field:focus~#filter-container,
#filter-container:hover {
    visibility: visible;
    /* Show the filters when focusing on search field or hovering over filters. */
}

/* Media query for devices with width less than or equal to 768px 
This MUST stay below other regular css for header to get properly overwritten*/
@media (max-width: 768px) {
    #logo {
        size: 80%;
        font-size: 7vw;
        text-align: left;
        margin-top: 1vh;
        margin-bottom: 1vh;

    }

    #search {
        transform: scale(1);
    }

    #search-container {
        width: 90%;
    }

    #filter-container {
        width: 95%;
    }

    #secondary-nav {
        display: flex;
        justify-content: center;
    }

    #main-grid-container {
        display: grid;
        grid-template-areas:
            'logo login-signup'
            'search search'
            'secondary-nav secondary-nav'
            'content content';
        grid-template-columns: 1fr 1fr;
    }
}

/* ----page specific----- */
/* where page specific style goes */
/* Login & Signup page*/
#popup-container {
    background: white;
    font-family: Arial, sans-serif;
}

#title {
    color: #867070;
    font-family: 'Lilita One', cursive;
    font-size: 48px;
}

.login-signup-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
    /* centers the container */
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(245, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-field-container {
    position: relative;
    width: 80%;
    margin-bottom: 15px;
}

/* Updated styles for the label inside the input */
.login-signup-container label {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
}

/* Styles for the input fields */
.login-signup-container input:not([type="submit"]),
select {
    width: 80%;
    /* changed from 80% to 100% because it's now inside .field-container */
    height: 63px;
    border-radius: 20px;
    background: #D5B4B4;
    border: none;
    padding-left: 90px;
    /* text indentation */
    color: white;
    box-sizing: border-box;
}


.login-signup-container form,
.login-signup-container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* Make the divs the reference point for absolutely positioned labels */
}


#login-button,
#signup-button {
    width: 80%;
    height: 56px;
    border-radius: 20px;
    background: #D5B4B4;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
    font-size: large;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #867070;
    text-decoration: none;
}


/***************** Account Update Pages - For Seeker *********************************************************************************************************/
:root {
    --main-dark-color: #867070;
    --main-mid-color: #D5B4B4;
    --main-light-color: #F5EBEB;
    --main-font-familty: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --footer-height: 50px;
}

[href] {
    text-decoration: none;
}

.main-light-color {
    color: var(--main-light-color)
}

.main-dark-color {
    color: var(--main-dark-color)
}

.btn-outline-primary-cust {
    --bs-btn-color: var(--main-dark-color);
    --bs-btn-bg: var(--main-light-color);
    --bs-btn-border-color: var(--main-dark-color);
    --bs-btn-hover-color: var(--main-light-color);
    --bs-btn-hover-bg: var(--main-dark-color);
    --bs-btn-hover-border-color: var(--main-light-color);
    --bs-btn-active-color: var(--main-dark-color);
    --bs-btn-active-bg: var(--main-mid-color);
    --bs-btn-active-border-color: var(--main-dark-color);
    --bs-btn-focus-shadow-rgb: var(--main-mid-color);
}

.btn-outline-primary-cust {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-outline-primary-cust:hover {
    box-shadow: none;
    text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.5);
}


.btn-primary-cust {
    --bs-btn-color: var(--main-light-color);
    --bs-btn-bg: var(--main-dark-color);
    --bs-btn-border-color: var(--main-dark-color);
    --bs-btn-hover-color: var(--main-dark-color);
    --bs-btn-hover-bg: var(--main-light-color);
    --bs-btn-hover-border-color: var(--main-mid-color);
    --bs-btn-active-color: var(--main-dark-color);
    --bs-btn-active-bg: var(--main-mid-color);
    --bs-btn-active-border-color: var(--main-dark-color);
    --bs-btn-focus-shadow-rgb: var(--main-mid-color);
}


body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: var(--main-font-familty);
}

/************************************ Header ************************************/
header {
    background: var(--main-dark-color);
}

/* .logo {
    color: var(--main-light-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 700;
} */

.nav-link:hover {
    opacity: 0.68;
}


#main-nav {
    /* for offcanvas navbar bg-color */
    background-color: var(--main-dark-color);
}

.dropdown-toggle::after {
    color: var(--main-light-color);
}

/*********************************** Footer ************************************/
footer {
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}

/************************************ Main ************************************/
main {
    /* margin-bottom: var(--footer-height); */
    padding-bottom: calc(2*var(--footer-height));
    width: 100%;
}

.side_nav .list-group .list-group-item.active {
    background-color: var(--main-light-color);
    border: 0;

}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Seeker Profile *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/


/* ------------- Portrait ------------- */
/* https://stackoverflow.com/questions/11406605/how-to-make-a-link-act-as-a-file-input */
/* https://bootstrapious.com/p/bootstrap-image-hover */
.portrait {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #86707020;
    border: 0.5px solid #86707050;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin: 30px;
}

.portrait img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    transition: all 0.3s;
}

#portrait_shadow {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05));
    width: 220px;
    height: 220px;
    border-radius: 50%;
    z-index: 3;
    opacity: 0%;
}

#portrait_shadow:hover {
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#edit_portrait {
    display: none;
}

#edit_portrait_link {
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 700;
    color: white;
}

#profile_form .row {
    height: auto;
}

#floating_bio {
    min-height: 80px;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Notification *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.notification.list-group>a>i {
    font-size: 60%;
}

.read>i {
    opacity: 0;
}

.notification.list-group>a {
    height: 75px;
}

/* https://youtube.com/shorts/uX-BTmcfK2M?si=S0oAziZzQLbQwuD- */
#ckbox_unread:checked~.notification.list-group>a.read {
    display: none !important;
}





/* div.row {
    border: 1px solid darkblue;
    background: lightgreen;
}

div.col {
    border: 1px dashed darkred;
    background: lightcoral;
} */



/***************** search result page *********************************************************************************************************/

/* Styling the thumb (the control knob of the slider) */
#price-range::-webkit-slider-thumb {
    background: var(--main-dark-color);
}

#price-range::-moz-range-thumb {
    background: var(--main-dark-color);
}

/* Styling the track (the line the slider travels along) */
#price-range::-webkit-slider-runnable-track {
    background: var(--main-mid-color);
}

#price-range::-moz-range-track {
    background: var(--main-mid-color);
}

#price-range::-moz-range-progress {
    background: var(--main-light-color);
}

.card .btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .btn {
    opacity: 1;
}


/***** shelter creation page *****/

 
/* page 3 name*/