/* ----common---- */
/* where common style goes */
body{
    margin: 0;
}


#secondary-nav-bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
}

#secondary-nav-bar nav ul {
    list-style: none;
    margin: 1vh;
    padding: 0;
    display: flex;
}

#secondary-nav-bar nav ul li {
    margin-left: 20px;
}

#secondary-nav-bar nav ul li a {
    text-decoration: none;
    color: #F5EBEB;
    font-size: 22px;
}

#logo {
    width: 201px;
    color: #F5EBEB;
    font-family: 'Kumar One', Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 400;
    padding-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    grid-area: logo;
    text-wrap: nowrap;
}


#main-grid-container {
    display: grid;
    grid-template-areas:
        'logo search login-signup'
        'secondary-nav secondary-nav secondary-nav'
        'content content content';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    align-items: center;
    background-color: #867070;
}

#login-signup {
    grid-area: login-signup;
}

#login-signup ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding-inline-start: 0px;
}

#login-signup ul li {
    margin-right: 20px;
}

#login-signup ul li a {
    text-decoration: none;
    color: #F5EBEB;
    font-size: 26px;
}


#search-container {
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 40vw;
    margin: auto;
}

#filter-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(213, 180, 180);
    padding: 2vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 36vw;
    display: flex;
    flex-direction: column;
    visibility: hidden; /* Hide the filters by default */
}



#filter-container > div {
    margin-bottom: 10px;
}

#search-field {
    padding: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 4px solid rgb(213, 180, 180);
    border-radius: 10px;
    background-color: rgb(213, 180, 180);
}

#search-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#secondary-nav-bar {
    grid-area: secondary-nav;
}

.content {
    grid-area: content;
}

#search-field:focus ~ #filter-container,
#filter-container:hover {
    visibility: visible; /* Show the filters when focusing on search field or hovering over filters. */
}

/* Media query for devices with width less than or equal to 768px 
This MUST stay below other regular css for header to get properly overwritten*/
@media (max-width:  768px) {
    #logo {
        size: 80%;
        font-size: 7vw; 
        text-align: left;
        margin-top: 1vh;
        margin-bottom: 1vh;

    }

    #search {
        transform: scale(1);
    }

    #search-container {
        width: 90%;
    }

    #filter-container {
        width: 95%;
    }

    #secondary-nav {
        display: flex;
        justify-content: center;
    }

    #main-grid-container {
        display: grid;
        grid-template-areas: 
            'logo login-signup'
            'search search'
            'secondary-nav secondary-nav'
            'content content';
        grid-template-columns: 1fr 1fr;
    }
}
/* ----page specific----- */
/* where page specific style goes */
/* Login & Signup page*/
#popup-container{
    background: white;
    font-family: Arial, sans-serif;
}

#title{
    color: #867070;
    font-family: 'Lilita One', cursive;
    font-size: 48px;
}

.login-signup-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(245, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-field-container {
    position: relative; 
    width: 80%;
    margin-bottom: 15px;
}

/* Updated styles for the label inside the input */
.login-signup-container label {
    position: absolute;   
    left: 70px;          
    top: 50%;            
    transform: translateY(-50%); 
    pointer-events: none; 
    color: #fff;         
}

/* Styles for the input fields */
.login-signup-container input:not([type="submit"]), select {
    width: 80%; /* changed from 80% to 100% because it's now inside .field-container */
    height: 63px;
    border-radius: 20px;
    background: #D5B4B4;
    border: none;
    padding-left:90px; /* text indentation */
    color: white;
    box-sizing: border-box; 
}

.login-signup-container form, 
.login-signup-container div { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Make the divs the reference point for absolutely positioned labels */
}

#login-button, #signup-button {
    width: 80%;  
    height: 56px;
    border-radius: 20px;
    background: #D5B4B4;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
    font-size: large;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #867070;
    text-decoration: none;
}


/* page 2 name*/




/* page 3 name*/