/* how it works */
.how-it-works-section {
    padding: 20px 10%;
    background-color: #f5f5f5;  /* A light background to differentiate the section */
}

.how-it-works-section h2 {
    text-align: center;
    margin-top: 0;
    color: #867070;  /* Adjust color as needed */
}

.step {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.step h3 {
    margin-top: 0;
    color: #D5B4B4;  /* Adjust color as needed */
}

.step p {
    margin-bottom: 0;
    color: #867070;
}